/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #B67352;
    color: #333;
}

/* Enable smooth scrolling for HTML */
html {
    scroll-behavior: smooth;
}

/* Header styles */
.header {
    background-color: #8CB9BD;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header .logo img {
    height: 130px;
}

.header .title {
    text-align: center;
    flex: 1;
}

/* Navbar styles */
.navbar {
    background-color: #ECB159;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .dropdown {
    position: relative;
    margin-left: 20px;
}

.navbar .dropbtn {
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar .dropbtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    top: 40px;
    right: 0;
}

.navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar .dropdown-content a:hover {
    background-color: #ddd;
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

/* Content styles */
.content {
    padding: 20px;
}

/* Title styles for top product section */
.top-product-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 65%; /* Adjusted width for better responsiveness */
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    font-size: 24px;
    color: #333;
}

/* Grid layout for top product properties */
.top-product-property {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

/* Table styles for residential and commercial units */
.top-product-property .residential-unit,
.top-product-property .commercial-unit {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}

.top-product-property .residential-unit table,
.top-product-property .commercial-unit table {
    width: 100%;
    border-collapse: collapse;
}

.top-product-property .residential-unit table th,
.top-product-property .residential-unit table td,
.top-product-property .commercial-unit table th,
.top-product-property .commercial-unit table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.top-product-property .residential-unit table th,
.top-product-property .commercial-unit table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

.top-product-property .residential-unit table tr:nth-child(even),
.top-product-property .commercial-unit table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Center-align image in building-image section */
.top-product-property .building-image {
    text-align: center;
}

.top-product-property .building-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Styles for other sections */
.total-monthly-sales,
.neighborhood-sales,
.monthly-transaction,
.top-building-transaction {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

/* Button styles */
.filter-date-btn,
.show-insight-btn,
.show-insight-btn2,
.show-insight-btn3,
.apply-filter-btn,
.clear-filter-btn,
.sort-btn-building,
.sort-option-building,
.sort-btn,
.sort-option {
    background-color: #8CB9BD;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s; /* Tambahkan efek transisi saat hover */
}

.filter-date-btn:hover,
.show-insight-btn:hover,
.show-insight-btn2:hover,
.show-insight-btn3:hover,
.apply-filter-btn:hover,
.clear-filter-btn:hover,
.sort-btn-building:hover,
.sort-option-building:hover,
.sort-btn:hover,
.sort-option:hover {
    background-color: #6c9196; /* Ganti warna saat hover */
}


/* Footer styles */
.footer {
    background-color: #8CB9BD;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Popup and overlay styles */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1001;
    width: 80%;
    max-width: 400px;
    overflow: auto;
}

.popup-content {
    text-align: center;
}

.popup-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.popup-content h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.popup-content p {
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    /* Adjust grid layout for smaller screens */
    .top-product-property {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    /* Adjust font size and padding for tables */
    .top-product-property .residential-unit table,
    .top-product-property .commercial-unit table {
        font-size: 14px; 
    }

    .top-product-property .residential-unit table th,
    .top-product-property .residential-unit table td,
    .top-product-property .commercial-unit table th,
    .top-product-property .commercial-unit table td {
        padding: 8px; 
    }

    /* Adjust width for top product title */
    .top-product-title {
        width: 97%; 
    }
}

@media screen and (max-width: 480px) {
    /* Adjust padding for tables */
    .top-product-property .residential-unit,
    .top-product-property .commercial-unit,
    .top-product-property .building-image {
        padding: 10px;
    }

    /* Adjust font size for tables */
    .top-product-property .residential-unit table th,
    .top-product-property .residential-unit table td,
    .top-product-property .commercial-unit table th,
    .top-product-property .commercial-unit table td {
        font-size: 12px;
    }

    /* Adjust width for top product title */
    .top-product-title {
        width: 95%; 
    }

    /* Media queries untuk responsivitas grafik */
@media screen and (max-width: 768px) {
    /* Atur ulang ukuran font dan ketebalan garis untuk layar tablet */
    #total-monthly-sales-chart,
    #neighborhood-sales-chart,
    #top-building-transaction-chart {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    /* Atur ulang ukuran font dan ketebalan garis untuk layar mobile */
    #total-monthly-sales-chart,
    #neighborhood-sales-chart,
    #top-building-transaction-chart {
        font-size: 12px;
    }
}


    
}

   
