/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #B67352;
    color: #333;
}

/* Enable smooth scrolling for HTML */
html {
    scroll-behavior: smooth;
}

/* Header styles */
.header {
    background-color: #8CB9BD;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header .logo img {
    height: 80px;
}

.header .title {
    text-align: center;
    flex: 1;
    font-size: 18px;
}

/* Navbar styles */
.navbar {
    background-color: #ECB159;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar .dropdown {
    position: relative;
    display: inline-block;
}

.navbar .dropbtn {
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.navbar .dropbtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: opacity 0.3s ease;
}

.navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.navbar .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.description-box {
    border: 2px solid #000; /* Adjust the color and width of the border as needed */
    padding: 10px; /* Adds space inside the box around the text */
    border-radius: 5px; /* Rounds the corners of the box */
    background-color: #f9f9f9; /* Optional: Adds a background color */
    text-align: center; /* Centers the title and description text */
}

.box-title {
    font-size: 18px; /* Adjust the font size as needed */
    font-weight: bold; /* Makes the title bold */
    margin-bottom: 10px; /* Adds space between the title and the description */
}
.description {
    font-size: 16px; /* Adjust the font size as needed */
    color: #333; /* Adjust the text color as needed */
    text-align: justify; /* Justifies the description text */
}

#total-monthly-sales-chart-description {
    font-size: 16px; /* Adjust the font size as needed */
    color: #333; /* Adjust the text color as needed */
    text-align: justify; /* Justifies the description text */
}
.description2 {
    font-size: 16px; /* Adjust the font size as needed */
    color: #333; /* Adjust the text color as needed */
    text-align: justify; /* Justifies the description text */
}
.description3 {
    font-size: 16px; /* Adjust the font size as needed */
    color: #333; /* Adjust the text color as needed */
    text-align: justify; /* Justifies the description text */
}

/* Default style for the button */
.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Style for the button when clicked */
.dropbtn.active {
    background-color: #2980b9;
}

/* Style for the button when hovered */
.dropbtn:hover {
    background-color: #2980b9;
}

/* Style for the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show the dropdown menu */
.show {
    display: block;
}

.top-product-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 96,5%; /* Adjusted width for better responsiveness */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    font-size: 24px;
    color: #333;
}

.growth-chart-title {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 96,5%; /* Adjusted width for better responsiveness */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    font-size: 24px;
    color: #333;
}

/* Content styles */
.content {
    padding: 15px;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: #FFF;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
    color: #333;
}

.filter-date, .sort-options, .filter-sales {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.filter-date .filters, .filter-sales {
    flex-wrap: wrap;
}

.filter-date label, .filter-sales label {
    font-size: 14px;
    color: #333;
}

.filter-date input[type="month"], .filter-sales input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.filter-date button, .filter-sales button, .sort-options button {
    background-color: #ECB159;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.filter-date button:hover, .filter-sales button:hover, .sort-options button:hover {
    background-color: #d4a252;
}

.chart {
    width: 100%;
    height: 600px;
    margin-bottom: 20px;
}

.note {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.insight button {
    background-color: #ECB159;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
}

.insight button:hover {
    background-color: #d4a252;
}

.insight .description {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
}

/* Kritik dan Saran */
.field {
    margin-bottom: 10px;
}

.field label {
    display: block;
    font-size: 12px;
    color: #777;
}

.field input,
.field textarea {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
}

/* Menambah CSS untuk textarea */
.field textarea {
    width: 300px;
    height: 100px; /* Atur sesuai tinggi yang diinginkan */
}

input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #d4a252;
    color: #fff;
    border: none;
}

.footer {
    background-color: #8CB9BD;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

.popup-content {
    max-height: 400px;
    overflow-y: auto;
}

/* Styles for DataTable */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 !important;
    margin-top: 10px;
    display: inline-block;
    box-sizing: border-box;
    background: #f9f9f9;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
    margin-right: 4px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #e9e9e9;
    color: #333;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: #d9d9d9;
    color: #333;
}

/* Styles for DataTable search box */
.dataTables_wrapper .dataTables_filter {
    margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_filter input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Styles for DataTable entries select box */
.dataTables_wrapper .dataTables_length {
    margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_length select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Styles for DataTable table */
.dataTables_wrapper .dataTables_scrollHead {
    overflow: hidden;
}

.dataTables_wrapper .dataTables_scrollHead table {
    width: 100%;
}

.dataTables_wrapper .dataTables_scrollHeadInner {
    box-sizing: content-box;
}

.dataTables_wrapper .dataTables_scrollBody {
    overflow: auto;
}

.dataTables_wrapper .dataTables_scrollBody table {
    width: 100%;
}

.dataTables_wrapper .dataTables_scrollFoot {
    overflow: hidden;
}

.dataTables_wrapper .dataTables_scrollFoot table {
    width: 100%;
}

/* media queries */

/* For small to medium devices */
@media only screen and (max-width: 768px) {
    .header, .navbar, .filter-date, .sort-options, .filter-sales, .insight {
        flex-direction: column;
        align-items: center;
    }

    .header .title {
        margin-top: 10px;
        font-size: 16px;
    }

    .top-product-title {
        font-size: 20px;
    }

    .growth-chart-title {
        font-size: 20px;
    }

    .navbar {
        justify-content: center;
    }

    .navbar .dropdown {
        margin-left: 5px;
    }

    .navbar .dropbtn {
        padding: 6px 10px;
        font-size: 12px;
    }

    .filter-date label, .filter-sales label {
        margin-bottom: 5px;
    }

    .filter-date input[type="month"], .filter-sales input[type="number"] {
        width: 100%;
        padding: 4px;
        font-size: 12px;
    }

    .chart {
        height: 300px;
    }

    .note {
        font-size: 12px;
    }

    .insight button {
        margin-top: 10px;
        padding: 6px 10px;
        font-size: 12px;
    }

    .insight .description {
        margin-top: 10px;
        padding: 5px;
        font-size: 12px;
    }

    .field textarea {
        width: 100%; /* Adjust as needed */
    }
    .description-box {
        padding: 5px; /* Adjust the padding as needed */
    }
    .box-title {
        font-size: 16px; /* Adjust the font size as needed */
        margin-bottom: 5px; /* Adjust the margin as needed */
    }
    .description {
        font-size: 14px; /* Adjust the font size as needed */
    }
    #total-monthly-sales-chart-description {
        font-size: 14px; /* Adjust the font size as needed */
    }
    .description2 {
        font-size: 14px; /* Adjust the font size as needed */
    }
    .description3 {
        font-size: 14px; /* Adjust the font size as needed */
    }
    .card {
        padding: 20px 10px;
    }

    /* Responsive table */
    table {
        max-width: 100%;
        overflow-x: auto;
    }

    table td, table th {
        font-size: 12px;
    }
}

/* For small devices (smartphones) */
@media only screen and (max-width: 480px) {
    .header .logo img {
        height: 60px;
    }

    .header .title {
        font-size: 16px;
    }

    .top-product-title {
        font-size: 18px;
        width: 89%;
    }
    
    .growth-chart-title {
        font-size: 18px;
        width: 89%;
    }

    .navbar .dropdown {
        margin-left: 5px;
    }

    .navbar .dropbtn {
        padding: 6px 10px;
        font-size: 12px;
    }

    .filter-date input[type="month"], .filter-sales input[type="number"] {
        padding: 4px;
        font-size: 12px;
    }

    .chart {
        height: 200px;
    }

    .note {
        font-size: 10px;
    }

    .insight button {
        padding: 6px 10px;
        font-size: 12px;
    }

    .insight .description {
        padding: 5px;
        font-size: 12px;
    }

    .content {
        padding: 10px;
    }

    .card {
        padding: 30px 10px;
    }
    .description-box {
        padding: 5px; /* Adjust the padding as needed */
    }
    .box-title {
        font-size: 16px; /* Adjust the font size as needed */
        margin-bottom: 5px; /* Adjust the margin as needed */
    }
    .description {
        font-size: 14px; /* Adjust the font size as needed */
    }
    #total-monthly-sales-chart-description {
        font-size: 14px; /* Adjust the font size as needed */
    }
    .description2 {
        font-size: 14px; /* Adjust the font size as needed */
    }
    .description3 {
        font-size: 14px; /* Adjust the font size as needed */
    }

    

    /* Responsive table */
    table {
        max-width: 100%;
        overflow-x: auto;
    }

    table td, table th {
        font-size: 12px;
    }
}

@media (min-width: 480px) {
    .filters label,
    .filters input {
        flex: 1 1 calc(50% - 10px);
    }

    .filters button {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (min-width: 768px) {
    .filters label,
    .filters input {
        flex: 1 1 calc(25% - 10px);
    }

    .filters button {
        flex: 1 1 calc(50% - 10px);
    }
}

/* For large devices */
@media only screen and (min-width: 769px) {
    /* Set table width to 100% on large screens */
    table {
        width: 100%;
    }
}
